    <div class="card mb-4">
      <div class="card-header">
        {{ post.data_pub }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <img src="{{ post.image }}" class="card-img-top main-content">
{#        <img src="{% static 'Pizza/image/Pizza.jpg' %}" class="card-img-top main-content">#}
        <p class="card-text">{{ post.body|truncatewords:15 }}</p>
          <p class="card-text">{{ post.total_price}}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read</a>
      </div>



      <div>
          <form id="form_buying_product" class="form-inline" action="{% url 'pizza_count_url' %}"> {% csrf_token %}
             <input class="form-control" type="number" name="number" id="number">
             <button type="submit" id="submit_btn" class="btn btn-success btn-buy" data-name="{{ post.title }}" data-price="{{ post.total_price }}"> Купить </button>
          </form>


      </div>


{#      <form class="form-inline my-2 my-lg-0" action="{%  url 'pizza_list_url' %}">#}
{#             <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search1">#}
{#             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#      </form>#}


        <div class="card-footer text-muted">
            Tags:
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}">
                {{ tag.title }}
                </a>
            {% endfor %}

        </div>
    </div>
