{% extends 'Pizza/base_index.html' %}

{% block title %}
    Post Delete "{{ post.title|title }}" - {{ block.super }}
{% endblock %}



{% block content %}
    <form action="{% url 'post_delete_url' slug=post.slug %}" method="post">

        {% csrf_token %}

        <h3> Are you sure you wwnat to delete <b>"{{ post.title|title }}" </b> tag?</h3>
        <a href="{{ post.get_absolute_url }} "> Cancel</a>



{#url 'tag_detail_url' slug=tag.slug#}


        <button type="submit" name="button" class="btn btn-danger">
            Delete
        </button>

    </form>
{% endblock %}